{% extends "gambler/base.html" %}

{% block title %}Gambler {% endblock %}

{% block content %}

<h2>
    Apuestas
    {% if user.is_authenticated %}
        (<a href="{% url 'gambler:apuesta_create' partido.id %}">anadir</a>)
    {% endif %}
</h2>
<ul>
    {% for apuesta in partido.apuestas.all %}
        <li>{{ apuesta.partido.equipoLocal.nombreEquipo }} {{ apuesta.resultado.golLocal }} - {{ apuesta.partido.equipoVisitante.nombreEquipo }} {{ apuesta.resultado.golVisitante }} ( Apuesta :  {{ apuesta.apuesta }} € ) </li>
    {% empty %}
        <li>Disculpa pero por el momento no tenemos registrado ninguas apuestas para este partido.</li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
    Created by {{ partido.user }}
{% endblock %}