{% extends "gambler/base.html" %}

{% block content %}

<h1>
    Gambler
</h1>

<div id="listPartdios">
    {% block list1 %}{% endblock list1 %}</div>
    <div id="listEquipos">
    {% block list2 %}{% endblock list2 %}</div>
    <div id="listApuestas">
    {% block list3 %}{% endblock list3 %}</div>

    <h3>Navigate</h3>
    <ul>
    <li><a href="/gambler/partidos">Partidos</a></li>
    <li><a href="/gambler/equipos">Equipos</a></li>
    <li><a href="/gambler/apuestas">Apuestas</a></li>
    </ul>

{% endblock content %}